body {
    font-family: sans-serif;
    background-image: url(spacebackground.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

#game {
    width: 400px;
    height: 400px;
    padding: 0;
    border: solid 1px white;
    display: flex;
    flex-wrap: wrap;
}

#gameheader {
    width: 400px;
    height: 50px;
    border: solid 1px white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reset {
    font-size: 22px;
}

.row {
    display: flex;
}

.box {
    width: 48px;
    height: 48px;
    background-color: rgb(34, 12, 179);
    border: solid 1px white;
}

.box.emptybox {
    width: 48px;
    height: 48px;
    background-color: rgb(34, 12, 179);
    border: solid 1px white;
}

.box.bomb {
    width: 48px;
    height: 48px;
    background-color: rgb(34, 12, 179);
    border: solid 1px white;
    background-image: none;
}

.emptybox {
    width: 48px;
    height: 48px;
    background-color: lightgray;
    border: solid 1px white;
}

.bomb {
    width: 48px;
    height: 48px;
    background-color: red;
    border: solid 1px white;
    background-image: url(ufobomb.png)
}

.box.flag {
    width: 48px;
    height: 48px;
    background-color: rgb(34, 12, 179);
    border: solid 1px white;
    background-image: url(alienflag.png)
}

.bomb.flag {
    width: 48px;
    height: 48px;
    background-color: rgb(34, 12, 179);
    border: solid 1px white;
    background-image: url(alienflag.png);
}

#boom {
    margin: 10px 10px 10px 0px;
    padding: 10px 10px 10px 0px;
    color: red;
    font-size: 30px;
}